@tailwind base;

.scroll1{
  scrollbar-width: thin;
  scrollbar-color: #c43c46;
}

.scroll2::-webkit-scrollbar {
  height: 2px;
}

.scroll3::-webkit-scrollbar-thumb {
  background-color: #c43c46;
  border-radius: 14px;  
}

@tailwind components;
@tailwind utilities;
